* {
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  transition: all 0.2s linear;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 3rem;
  z-index: 10;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul li {
  margin: 1.5rem;
}
header nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}
header nav ul li a:hover {
  background: #b8ac10;
}
header .fa-bars {
  font-size: 4rem;
  color: white;
  cursor: pointer;
  margin: 0 2rem;
  z-index: 20;
  display: none;
}
header .logo {
  margin: 0 2.5rem;
}
header .logo a {
  text-decoration: none;
}
header .logo a h1 {
  font-size: 3rem;
  color: #fff;
}
header .logo a h1 span {
  color: #b8ac10;
}

#home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: url("/Source/ImagenesYoga/fondohome.png"), linear-gradient(rgba(104, 103, 103, 0.726), rgba(104, 103, 103, 0.726));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding-top: 5rem;
  position: relative;
  text-align: center;
}
#home h1 {
  font-size: 9rem;
  margin: 0 0.5rem;
  color: #fff;
}
#home h3 {
  font-size: 2rem;
  color: #b8ac10;
  margin: 1rem 0;
}
#home button {
  margin: 2rem 2rem;
  font-size: 2rem;
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid #b8ac10;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #b8ac10;
  font-weight: bold;
  margin-top: 80%;
}
#home button:hover {
  background: #b8ac10;
  color: #fff;
}
#home .icons {
  position: absolute;
  bottom: 3.5rem;
  left: 5rem;
  z-index: 1;
}
#home .icons a {
  text-decoration: none;
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}
#home .icons a:hover {
  color: #333;
}

#homeaieka {
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: url("Source/ImagenesYoga/fondo.jpg"), linear-gradient(rgba(92, 92, 92, 0.637), rgba(223, 223, 223, 0.726));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding-top: 5rem;
  position: relative;
  text-align: center;
}
#homeaieka h1 {
  font-size: 5rem;
  margin: 0 0.5rem;
  color: #e6e4e4;
}
#homeaieka h2 {
  font-size: 2rem;
  color: #d5d67c;
  margin: 1rem 0;
}

#homeclases {
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: url("Source/ImagenesYoga/fondo.jpg"), linear-gradient(rgba(92, 92, 92, 0.637), rgba(223, 223, 223, 0.726));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding-top: 5rem;
  position: relative;
  text-align: center;
}
#homeclases h1 {
  font-size: 8rem;
  margin: 0 0.5rem;
  color: #e6e4e4;
}
#homeclases h2 {
  font-size: 2rem;
  color: #d5d67c;
  margin: 1rem 0;
}
#homeclases button {
  margin: 2rem 0;
  font-size: 2rem;
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid #b8ac10;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #b8ac10;
  font-weight: bold;
  margin-top: 80%;
}
#homeclases button:hover {
  background: #b8ac10;
  color: #fff;
}
#homeclases .icons {
  position: absolute;
  bottom: 3.5rem;
  left: 5rem;
  z-index: 1;
}
#homeclases .icons a {
  text-decoration: none;
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}
#homeclases .icons a:hover {
  color: #333;
}

#aieka {
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center;
  background: #b8ac10;
}
#aieka h1 {
  color: #fff;
  font-size: 4rem;
  margin: 2rem 0;
}
#aieka p {
  font-size: 3.5rem;
  padding: 0.5rem;
  color: #1a1717;
}
#aieka .card-container {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5rem 0;
}
#aieka .card-container .card {
  width: 30rem;
  height: 61rem;
  margin: 4rem;
  background: #fff;
}
#aieka .card-container .card img {
  width: 100%;
  height: 64%;
  object-fit: cover;
}
#aieka .card-container .card .content {
  height: 50%;
  width: 100%;
  text-align: center;
}
#aieka .card-container .card .content h1 {
  color: #b8ac10;
  font-size: 2.5rem;
  margin: 1rem 0;
}
#aieka .card-container .card .content p {
  font-size: 1.5rem;
  margin: 0.3rem;
  text-transform: none;
}
#aieka .card-container .card .content button {
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid #b8ac10;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #b8ac10;
  font-weight: bold;
  margin-top: 80%;
  margin: 1rem 0;
}
#aieka .card-container .card .content button:hover {
  background: #b8ac10;
  color: #fff;
}
#aieka .card-container .card:hover {
  transform: translateY(-3rem);
  box-shadow: 0 0 1rem;
}

#acerca {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
#acerca .image {
  margin: 5rem 15rem;
}
#acerca .image img {
  width: 30rem;
}
#acerca .content {
  width: 90vw;
}
#acerca .content h1 {
  font-size: 3rem;
  margin: 8rem 1rem;
  color: #b8ac10;
}
#acerca .content h2 {
  font-family: "Exo 2";
  font-size: 2rem;
  margin: 8rem 0;
  color: #b8ac10;
}
#acerca .content h3 {
  font-family: "Poppins";
  text-transform: none;
  font-size: 2rem;
  color: #b8ac10;
  margin-bottom: 5rem;
}
#acerca .content p {
  font-family: "Poppins";
  font-size: 2.5rem;
  padding-right: 6rem;
  text-transform: none;
}

#contacto {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: url("Source/ImagenesYoga/contactofondo.jpg"), linear-gradient(rgba(139, 139, 139, 0.7), rgba(131, 131, 131, 0.7));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  padding-left: 30px;
}
#contacto form {
  margin-top: 15rem;
  display: flex;
  flex-flow: column;
}
#contacto form h1 {
  color: #b8ac10;
  font-size: 4rem;
}
#contacto form input {
  height: 4rem;
  background: transparent;
  margin: 2rem 0;
  padding: 0 1rem;
  border: 0.2rem solid #b8ac10;
  outline: none;
  color: whitesmoke;
  font-weight: bold;
  width: 40vw;
}
#contacto form input::placeholder {
  color: whitesmoke;
}
#contacto form input:focus {
  background: #b8ac10;
}
#contacto form input[type=submit] {
  background: #b8ac10;
  color: whitesmoke;
}
#contacto form input[type=submit]:hover {
  background: transparent;
}
#contacto form textarea {
  resize: none;
  background: transparent;
  outline: none;
  padding: 1rem;
  color: whitesmoke;
  border: 0.2rem solid #b8ac10;
  font-weight: bold;
}
#contacto form textarea::placeholder {
  color: whitesmoke;
}
#contacto form textarea:focus {
  background: #b8ac10;
}
#contacto .image img {
  height: 80vh;
  width: 30vw;
  margin-top: 16rem;
}

#footer {
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center;
  background: rgba(66, 66, 66, 0.815);
}
#footer .msg {
  text-align: center;
  color: whitesmoke;
  margin: 2rem 0;
}
#footer .msg span {
  color: #b8ac10;
}
#footer .footer-container {
  height: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#footer .footer-container .brand {
  margin: 3rem 0;
  flex: 1 0 25rem;
}
#footer .footer-container .brand .logo {
  margin: 1rem 0;
}
#footer .footer-container .brand .logo a {
  text-decoration: none;
}
#footer .footer-container .brand .logo a h1 {
  font-size: 3rem;
  color: whitesmoke;
}
#footer .footer-container .brand .logo a h1 span {
  color: #b8ac10;
}
#footer .footer-container .brand .icons {
  display: flex;
  flex-flow: column;
}
#footer .footer-container .brand .icons a {
  text-decoration: none;
  color: #b8ac10;
  font-size: 3rem;
  margin: 5rem 0;
  position: relative;
}
#footer .footer-container .brand .icons a::after {
  content: attr(data-text);
  position: absolute;
  top: 0.8rem;
  left: 3.5rem;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: whitesmoke;
}
#footer .footer-container .contact-info {
  flex: 1 0 25rem;
}
#footer .footer-container .contact-info .info {
  height: 16rem;
  width: 5rem;
  background: #b8ac10;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
#footer .footer-container .contact-info .info a {
  font-size: 2rem;
  text-decoration: none;
  margin: 2rem 0;
  color: whitesmoke;
  position: relative;
}
#footer .footer-container .contact-info .info a::after {
  content: attr(data-text);
  position: absolute;
  top: 0.5rem;
  left: 5.5rem;
  width: 20rem;
  text-align: left;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  color: whitesmoke;
}
#footer .footer-container .letter {
  flex: 1 0 25rem;
  margin-top: 1rem;
}
#footer .footer-container .letter h1 {
  font-size: 3rem;
  color: #b8ac10;
}
#footer .footer-container .letter p {
  color: whitesmoke;
  margin: 1rem 0;
  font-size: 1.5rem;
}
#footer .footer-container .letter input {
  height: 4rem;
  background: transparent;
  margin: 1rem 0;
  padding: 0 1rem;
  border: 0.2rem solid #b8ac10;
  outline: none;
  color: whitesmoke;
  font-weight: bold;
  width: 100%;
}
#footer .footer-container .letter input::placeholder {
  color: whitesmoke;
}
#footer .footer-container .letter input:focus {
  background: #b8ac10;
}
#footer .footer-container .letter input[type=submit] {
  background: #b8ac10;
  color: whitesmoke;
}
#footer .footer-container .letter input[type=submit]:hover {
  background: transparent;
}

.fa-times {
  transform: rotateZ(180deg);
}

.active {
  background: #333;
  box-shadow: 0 0.1rem 0.3rem #000;
  padding: 1rem;
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }

  #home button {
    margin-top: 30rem;
  }

  #acerca {
    flex-flow: column;
    align-items: center;
  }
  #acerca .image img {
    width: 70vw;
  }
  #acerca .content {
    text-align: center;
  }
  #acerca .content p {
    padding: 2rem;
  }
  #acerca .content .buttons {
    padding: 0;
  }

  #contacto .image {
    display: none;
  }
  #contacto form input {
    width: 90vw;
  }
}
@media (max-width: 620px) {
  header .fa-bars {
    display: block;
  }
  header nav {
    position: fixed;
    top: 0;
    left: -200%;
    height: 100vh;
    width: 80vw;
    background: #fff;
    box-shadow: #78787a;
    background-image: #662a4b;
    background: #e4e3d4;
    background: linear-gradient(0deg, rgba(228, 227, 212, 0.8468429608) 0%, rgba(233, 233, 233, 0.9784956219) 98%);
  }
  header nav ul {
    height: 100%;
    flex-flow: column;
    justify-content: center;
  }
  header nav ul li {
    margin: 2rem 0;
  }
  header nav ul li a {
    margin: 0;
    font-size: 4rem;
    color: #b8ac10;
  }
  header nav ul li a:hover {
    color: #fff;
  }

  .nav-toggle {
    left: 0;
  }

  #home h1 {
    font-size: 6.5rem;
  }
  #home h3 {
    font-size: 4rem;
  }
  #home .icons {
    left: 50%;
    transform: translateX(-50);
  }
}

/*# sourceMappingURL=style.css.map */
