$mostaza: rgb(184, 172, 16);

@mixin button () {
    height: 4rem;
    width: 14rem;
    background: transparent;
    border: .2rem solid $mostaza;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    color:$mostaza;
    font-weight: bold;
    margin-top: 80%;


    &:hover{
        background: $mostaza;
        color:#fff;
    }
}
*{
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    transition: all .2s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    padding: 2rem 3rem;
    z-index: 10;
    


    nav{
        ul{
            list-style:none;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                margin: 1.5rem;

                a{
                    font-size: 2rem;
                    text-decoration: none;
                    color: #fff;
                    padding: 1rem;

                    &:hover{
                        background: $mostaza;
                    }
                }
            }
        }
    }

    .fa-bars{
        font-size:4rem;
        color:white;
        cursor: pointer;
        margin:0 2rem;
        z-index: 20;
        display: none;
    }

    
    .logo{
        margin: 0 2.5rem;

        a{
            text-decoration: none;

            h1{
                font-size: 3rem;
                color:#fff;

                span{
                    color: $mostaza;
                }
            }
        }
    }
}

#home{
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url("/Source/videoaieka.gif"), linear-gradient( rgba(104, 103, 103, 0.726),rgba(104, 103, 103, 0.726));
    background-size: cover;
    background-position:center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding-top: 5rem;
    position: relative;
    text-align:center ;

    h1{
        font-size: 9rem;
        margin: 0 .5rem;
        color: #fff;
    }

    h3{
        font-size: 2rem;
        color: $mostaza;
        margin: 1rem 0;
    }
    button{
        margin: 2rem 2rem;
        font-size: 2rem;
        @include button();
    }

    .icons{
        position: absolute;
        bottom: 3.5rem; left: 5rem;
        z-index: 1;

        a{
            text-decoration: none;
            font-size: 3rem;
            margin: 0 1rem;
            color: #fff;

            &:hover{
                color:#333;


            }
        }
    }
}


#homeaieka {
    
    height:85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url("Source/ImagenesYoga/fondo.jpg"), linear-gradient( rgba(92, 92, 92, 0.637),rgba(223, 223, 223, 0.726));
    background-size: cover;
    background-position:center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding-top: 5rem;
    position: relative;
    text-align:center ;

    h1{
        font-size: 5rem;
        margin: 0 .5rem;
        color: rgb(230, 228, 228);
        
    }

    h2{
        font-size: 2rem;
        color: #d5d67c;
        margin: 1rem 0;
    }    

}



#homeclases {
    
    height:85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url("Source/ImagenesYoga/fondo.jpg"), linear-gradient( rgba(92, 92, 92, 0.637),rgba(223, 223, 223, 0.726));
    background-size: cover;
    background-position:center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding-top: 5rem;
    position: relative;
    text-align:center ;

    h1{
        font-size: 8rem;
        margin: 0 .5rem;
        color: rgb(230, 228, 228);
    }

    h2{
        font-size: 2rem;
        color: #d5d67c;
        margin: 1rem 0;
    }
    button{
        margin: 2rem 0;
        font-size: 2rem;
        @include button();
    }

    .icons{
        position: absolute;
        bottom: 3.5rem; left: 5rem;
        z-index: 1;

        a{
            text-decoration: none;
            font-size: 3rem;
            margin: 0 1rem;
            color: #fff;

            &:hover{
                color:#333;


            }

        }
    }

}

#aieka{
    height: auto;
    width: 100vw;
    display: grid;
    place-items: center;
    background: $mostaza;

    h1{
        color: #fff;
        font-size: 4rem;
        margin: 2rem 0;
    }

    p{
        font-size: 3.5rem;
        padding: .5rem;
        color: rgb(26, 23, 23);
    }

    .card-container{
        width: 90vw;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 5rem 0;

        .card{
            width: 30rem;
            height: 61rem;
            margin: 4rem;
            background: #fff;
        
            
            img{
                width: 100%;
                height: 64%;
                object-fit: cover;
            }
            .content{
                height: 50%;
                width: 100%;
                text-align: center;

                h1{
                    color:$mostaza;
                    font-size: 2.5rem;
                    margin:1rem 0;
                }

                p{
                    font-size: 1.5rem;
                    margin: .3rem;
                    text-transform: none;
                }

                button{
                    @include button();
                    margin:1rem 0;
                }
            }
            &:hover{
                transform: translateY(-3rem);
                box-shadow: 0 0 1rem
            }
        }
    }
}

#acerca{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-around;

    .image{
        margin: 5rem 15rem;

        img{
            width: 30rem;
        }
    }

    .content{
        width: 90vw;

        h1{
            font-size: 3rem;
            margin: 8rem 1rem;
            color: $mostaza;
        }

        h2{
            font-family: 'Exo 2';
            font-size: 2rem;
            margin: 8rem 0;
            color: $mostaza;
        }

        h3{
            font-family: 'Poppins';
            text-transform: none;
            font-size: 2rem;
            color: $mostaza;  
            margin-bottom: 5rem;
        }

        p{
           font-family: 'Poppins';
            font-size: 2.5rem;
            padding-right: 6rem;
            text-transform: none;
        }
    }
}

#contacto{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    overflow:hidden;
    background: url("Source/ImagenesYoga/contactofondo.jpg"), linear-gradient(rgba(139, 139, 139, 0.7),rgba(131, 131, 131, 0.7));
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    padding-left: 30px;
    
    form{
        margin-top: 15rem;
        display: flex;
        flex-flow: column;

        h1{
            color:$mostaza;
            font-size: 4rem;
        }
        input{
            height: 4rem;
            background: transparent;
            margin: 2rem 0;
            padding: 0 1rem;
            border:  .2rem solid  $mostaza;
            outline: none;
            color:  hsl(0, 0%, 96%);
            font-weight: bold;
            width: 40vw;

            &::placeholder{
                color: hsl(0, 0%, 96%);
            }
            &:focus{
                background:$mostaza;
            }
        }
        input[type="submit"]{
            background:$mostaza;
            color: hsl(0, 0%, 96%);

            &:hover{
                background:transparent;
            }
        }
        textarea{
            resize: none;
            background: transparent;
            outline: none;
            padding: 1rem;
            color: hsl(0, 0%, 96%);
            border: .2rem solid $mostaza;
            font-weight: bold;

            &::placeholder{
                color: hsl(0, 0%, 96%);
            }
            &:focus{
                background:$mostaza;
            }
        }
    }

    .image{
        img{
            height: 80vh;
            width: 30vw;
            margin-top: 16rem;
        }
    }
 }


 #footer{
     height: auto;
     width: 100vw;
     display: grid;
     place-items: center;
     background: rgba(66, 66, 66, 0.815);

     .msg{
         text-align: center;
         color: hsl(0, 0%, 96%);
         margin: 2rem 0;

         span{
             color:$mostaza;
         }
     }
     .footer-container{
         height: auto;
         width: 90vw;
         display: flex;
         align-items: center;
         justify-content: space-around;
         flex-wrap: wrap;

         .brand{
             margin: 3rem 0;
             flex: 1 0 25rem;

             .logo{
                margin: 1rem 0;
        
                a{
                    text-decoration: none;
        
                    h1{
                        font-size: 3rem;
                        color:hsl(0, 0%, 96%);
        
                        span{
                            color: $mostaza;
                        }
                    }
                }
            }
            .icons{
                display: flex;
                flex-flow: column;

                a{
                    text-decoration: none;
                    color: $mostaza;
                    font-size: 3rem;
                    margin: 5rem 0;
                    position: relative;


                    &::after{
                        content: attr(data-text);
                        position: absolute;
                        top: .8rem; left: 3.5rem;
                        font-family: 'Exo 2', sans-serif;
                        font-style: italic;
                        font-size: 1.5rem;
                        color: hsl(0, 0%, 96%);
                    }
                }
            }
        }
        .contact-info{
            flex: 1 0 25rem;

            .info{
                height: 16rem;
                width: 5rem;
                background: $mostaza;
                display: flex;
                flex-flow: column;
                justify-content: center;
                text-align: center;

                a{
                    font-size: 2rem;
                    text-decoration: none;
                    margin: 2rem 0;
                    color: hsl(0, 0%, 96%);
                    position:relative;

                    &::after{
                        content: attr(data-text);
                        position: absolute;
                        top: .5rem; left: 5.5rem;
                        width:20rem;
                        text-align: left;
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.5rem;
                        color: hsl(0, 0%, 96%);
                    }
                }
            }
         }
         .letter{
             flex: 1 0 25rem;
             margin-top: 1rem;

             h1{
                 font-size: 3rem;
                 color: $mostaza;
             }
             p{
                 color:hsl(0, 0%, 96%);
                 margin: 1rem 0;
                 font-size: 1.5rem;
             }

             input{
                height: 4rem;
                background: transparent;
                margin: 1rem 0;
                padding: 0 1rem;
                border: .2rem solid $mostaza;
                outline: none;
                color:hsl(0, 0%, 96%);
                font-weight: bold;
                width: 100%;
    
                &::placeholder{
                    color: hsl(0, 0%, 96%);
                }
                &:focus{
                    background:$mostaza;
                }
            }
            input[type="submit"]{
                background:$mostaza;
                color: hsl(0, 0%, 96%);
    
                &:hover{
                    background:transparent;
                }

             }

         }
     }
 }

.fa-times{
    transform: rotateZ(180deg);
}

.active{
    background: #333;
    box-shadow: 0 .1rem .3rem #000;
    padding: 1rem;
}



// MediaQueries

@media (max-width:991px){
    
    html{
        font-size: 50%;
    }
}


@media (max-width:768px){
    html{
        font-size: 40%;
    }

    #home{
        button{
            margin-top: 30rem;
        }
    }
    #acerca{
        flex-flow: column;
        align-items: center;
        
        .image{
            img{
                width: 70vw;
            }
        }
        .content{
            text-align:center;
            p{
                padding: 2rem;
            }
            .buttons{
                padding: 0;
            }
        }
    }

    #contacto{
        .image{
            display: none;
        }
        form{
            input{
                width: 90vw;
            }
        }
    }
}

@media (max-width:620px){

    header{
        .fa-bars{
            display:block;
        } 
 
        nav{
        position: fixed;
        top:0; left:-200%;
        height: 100vh;
        width: 80vw;
        background: #fff;
        box-shadow:  #78787a;
        background-image: #662a4b;
        background: rgb(228,227,212);
        background: linear-gradient(0deg, rgba(228,227,212,0.8468429608171394) 0%, rgba(233,233,233,0.9784956218815651) 98%);
            ul{
             height:100%;
            flex-flow: column;
            justify-content: center;

                li{
                    margin:2rem 0;

                    a{
                        margin:0;
                        font-size: 4rem;
                        color: $mostaza;

                        &:hover{
                            color:#fff;
                        }
                     }
                 }
             }
          }
      }
  
      .nav-toggle{
          left:0;
    }
    #home{
        h1{
            font-size: 6.5rem;
        }
        h3{
            font-size: 4rem;
        }
        .icons{
            left: 50%;
            transform: translateX(-50);
        }
    }
 }


  